# Python
__pycache__/
*.py[cod]
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
*.egg-info/
.env

# Django
*.log
*.pot
db.sqlite3 
media/
staticfiles/

# IDEs
.idea/
*.sublime-project
*.sublime-workspace

# OS
.DS_Store
Thumbs.db